@font-face {
    font-family: "BYekan";
    src: url("../fonts/BYekan.woff2") format("woff2");
}

:root {
    --main_color: #FF510C;
    --soft_main_color: #FFF1EB;
    --white_default_color: #FFFFFF;
    --soft_gray_color: #FBFBFB;
    --mediom_gray_color: #A6A6A6;
    --hight_gray_color: #303030;
    --base_yellow_color: #FF8B14;
}

* {
    box-sizing: border-box;
    font-family: "BYekan";
    margin: 0;
}

body {
    background-color: var(--white_default_color);
    overflow-x: hidden;
}

.main_container {
    margin: 0 auto;
    width: 1242px;
}

/* header */

.header_top {
    background-color: var(--main_color);
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_top p {
    font-size: 17px;
    font-weight: 700;
    color: var(--white_default_color);
}

.header_main {
    margin: 60px 0 60px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper-logo {
    display: flex;
    align-items: center;
}
.wrapper-logo h2 {
    margin-right: 20px;
    font-size: 30px;
    font-weight: 400;
    color: var(--main_color);
}

.wrapper-search_and_lists {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 6px;
}

.wrapper-search_and_lists .products {
    width: 140px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: var(--main_color);
    padding: 10px 25px 10px 25px;
    border-radius: 60px;
}
.wrapper-search_and_lists .products span {
    color: var(--white_default_color);
}

.wrapper-search_and_lists .search_box {
    width: 360px;
    height: 46px;
    padding: 6px;
    background-color: var(--soft_gray_color);
    overflow: hidden;
    display: flex;
    align-items: center;
    border-radius: 60px;

}
.wrapper-search_and_lists .search_box input {
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    height: 100%;
    color: var(--hight_gray_color);
    font-family: "BYekan";
    font-size: 20px;
    font-weight: 400;
}
.wrapper-search_and_lists .search_box input::placeholder{
    color: var(--hight_gray_color);
}
.wrapper-search_and_lists .search_box button{
    border: none;
    outline: none;
    background-color: transparent;
}
.wrapper-buttons{
    display: flex;
}
.wrapper-buttons :where(.carts,.wishlist) {
    position: relative;
}
.wrapper-buttons span {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
    left: 28px;
    top: 0px;
    background-color: var(--main_color);
    border-radius: 10px;
    color: var(--white_default_color);
}

.header_menu {
    margin: 60px 0 120px 0;
    display: grid;
    grid-template-columns: repeat(7, auto);
    list-style-type: none;
    justify-content: space-evenly;
    border-radius: 17px;
    padding: 18px 0 18px 0;
    background-color: var(--soft_gray_color);
}
.menu_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}
.menu_item svg path{
    fill: var(--hight_gray_color);
    transition: fill 250ms;
}
.menu_item:hover svg path{
    fill:var(--main_color)
}
.menu_item:hover span{
    color:var(--main_color);
    transition: fill 250ms;
}

.header_banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.header_banner .title {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header_banner .title p{
    font-weight: 500;
}
.header_banner .title button{
    margin: 30px 0 30px 0;
    width: 142px;
    height: 36px;
    z-index: 5;
    border: none;
    border-radius: 9px;
    background-color: var(--main_color);
    color: var(--white_default_color);
    font-weight: 500;
    font-size: 17px;
    box-shadow: 0 0 7px 0px var(--main_color);
}


@keyframes slide {
    0%, 33.33% {
        transform: translateX(800px);
    }
    33.33%, 66.66% {
        transform: translateX(0px);
    }
    66.66%, 100% {
        transform: translateX(-800px);
    }
}
@keyframes changes_slide3 {
    0%, 33.33% {
        transform: scale(1.2);
        opacity: 1;
    }
    33.33%, 66.66% {
        transform: scale(0.9);
        opacity: 0.4;
    }
    33.33%, 100% {
        transform: scale(0.9);
        opacity: 0.4;
    }
}
@keyframes changes_slide2 {
    0%, 33.33% {
        transform: scale(0.9);
        opacity: 0.4;
    }
    33.33%, 66.66% {
        transform: scale(1.2);
        opacity: 1;
    }
    66.66%, 100% {
        transform: scale(0.9);
        opacity: 0.4;
    }
}
@keyframes changes_slide1 {
    0%, 33.33% {
        transform: scale(0.9);
        opacity: 0.4;
    }
    0%, 66.66% {
        transform: scale(0.9);
        opacity: 0.4;
    }
    66.66%, 100% {
        transform: scale(1.2);
        opacity: 1;
    }
}
.header_banner .images {
    display: grid;
    grid-template-columns: repeat(3, auto);
    animation: slide 9s infinite;
}
.header_banner .images div {
    width: 800px;
}
.header_banner .images img {
    object-fit: cover;
    width: 100%;
}
.header_banner .images > :nth-child(3) {
    animation: changes_slide3 9s infinite;
}
.header_banner .images > :nth-child(2) {
    animation: changes_slide2 9s infinite;
}
.header_banner .images > :nth-child(1) {
    animation: changes_slide1 9s infinite;
}


@keyframes changes_image_counter3 {
    0%, 33.33% {
        background-color: var(--main_color);
    }
    33.33%, 66.66% {
        background-color: var(--mediom_gray_color);
    }
    33.33%, 100% {
        background-color: var(--mediom_gray_color);
    }
}
@keyframes changes_image_counter2 {
    0%, 33.33% {
        background-color: var(--mediom_gray_color);
    }
    33.33%, 66.66% {
        background-color: var(--main_color);
    }
    66.66%, 100% {
        background-color: var(--mediom_gray_color);
    }
}
@keyframes changes_image_counter1 {
    0%, 33.33% {
        background-color: var(--mediom_gray_color);
    }
    0%, 66.66% {
        background-color: var(--mediom_gray_color);
    }
    66.66%, 100% {
        background-color: var(--main_color);
    }
}
.header_banner .image_counter {
    margin: 30px 0 60px 0;
    display: flex;
    gap: 4px;
}
.header_banner .image_counter span{
    width: 15px;
    height: 15px;
    border-radius: 10px;
    background-color: var(--mediom_gray_color);
}
.header_banner .image_counter > :nth-child(3) {
    animation: changes_image_counter3 9s infinite;
}
.header_banner .image_counter > :nth-child(2) {
    animation: changes_image_counter2 9s infinite;
}
.header_banner .image_counter > :nth-child(1) {
    animation: changes_image_counter1 9s infinite;
}

/* main */

.amazing_offers {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.amazing_offers .header {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    align-items: center;
    margin-bottom: 120px;
}
.amazing_offers .header .title{
    position: relative;
    color: var(--main_color);
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    grid-column: 2 / 3;
}
.amazing_offers .header .title::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    top: 0.5em;
    left: 0;
    background-color: var(--main_color);
}
.amazing_offers .header .timer{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.amazing_offers .header .timer>span{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.amazing_offers .header .timer .item span:first-child{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    background-color: var(--soft_main_color);
    border-radius: 10px;
    font-size: 25px;
    font-weight: 600;
    color: var(--main_color);
}
@keyframes amazing_offers_slider {
    0%, 33.33% {
        transform: translateX(0);
    }
    33.33%, 66.66% {
        transform: translateX(100%);
    }
    66.66%, 100% {
        transform: translateX(200%);
    }
}
.amazing_offers .slider .slides{
    display: grid;
    grid-template-columns: repeat(3,100%);
    animation: amazing_offers_slider 9s infinite;
}
.amazing_offers .slider .box{
    display: flex;
    justify-content: center;
    gap: 30px;
    background-color: var(--soft_gray_color);
}
.amazing_offers .slider .box .banner{
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.amazing_offers .slider .box .banner img{
    transform: translateY(-30px) translateX(-10px);
    width: 100%;
    object-fit: contain;
    scale: 1.8;
}
.amazing_offers .slider .box .details {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.amazing_offers .slider .box .details h3 {
    font-size: 30px;
    font-weight: 600;
}
.amazing_offers .slider .box .details .price {
    font-size: 20px;
    font-weight: 600;
    color: var(--main_color);
    text-align: start;
}
.amazing_offers .slider .box .details .selection_colors{
    display: flex;
    gap: 5px;
}
.amazing_offers .slider .box .details .selection_colors span{
    width: 28px;
    height: 28px;
    border-radius: 20px;
    background-color: var(--main_color);
}
.amazing_offers .slider .box .details .selection_colors span:nth-child(1){
    background-color: #A848DE;
    ;
}
.amazing_offers .slider .box .details .selection_colors span:nth-child(2){
    background-color: #ECECEC;
    ;
}
.amazing_offers .slider .box .details .selection_colors span:nth-child(3){
    background-color: #828282;
    ;
}
.amazing_offers .slider .box .details div:last-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.amazing_offers .slider .box .details div:last-child p{
    font-weight: 300;
    color: var(--main_color);
}
.amazing_offers .slider .box .details div:last-child div > :first-child{
    width: 130px;
    height: 35px;
    border: none;
    border-radius: 4px;
    background-color: var(--main_color);
    color: var(--white_default_color);
    font-size: 18px;
    font-weight: 500;
}
.amazing_offers .slider .box .details div:last-child div > :last-child{
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 81, 12, 0.5);
    ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.amazing_offers .slider .slider_counter{
    display: flex;
    justify-content: center;
    gap: 5px;

}
@keyframes amazing_offers_counter3 {
    0%, 33.33% {
        background-color: var(--main_color);
    }
    33.33%, 66.66% {
        background-color: var(--mediom_gray_color);
    }
    33.33%, 100% {
        background-color: var(--mediom_gray_color);
    }
}
@keyframes amazing_offers_counter2 {
    0%, 33.33% {
        background-color: var(--mediom_gray_color);
    }
    33.33%, 66.66% {
        background-color: var(--main_color);
    }
    66.66%, 100% {
        background-color: var(--mediom_gray_color);
    }
}
@keyframes amazing_offers_counter1 {
    0%, 33.33% {
        background-color: var(--mediom_gray_color);
    }
    0%, 66.66% {
        background-color: var(--mediom_gray_color);
    }
    66.66%, 100% {
        background-color: var(--main_color);
    }
}
.amazing_offers .slider .slider_counter span{
    width: 15px;
    height: 15px;
    border-radius: 10px;
    background-color: var(--mediom_gray_color);
}
.amazing_offers .slider .slider_counter > :nth-child(1) {
    animation: amazing_offers_counter3 9s infinite;
}
.amazing_offers .slider .slider_counter > :nth-child(2) {
    animation: amazing_offers_counter2 9s infinite;
}
.amazing_offers .slider .slider_counter > :nth-child(3) {
    animation: amazing_offers_counter1 9s infinite;
}

.best_selling {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
}
.best_selling .header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.best_selling .header h3 {
    font-size: 30px;
    font-weight: 500;
}
.best_selling .header path {
    fill: var(--main_color);
}
@keyframes best_selling_slider {
    0%, 20% {
        transform: translateX(0);
    }
    20%, 60% {
        transform: translateX(640px);
    }
    60%, 100% {
        transform: translateX(1300px);
    }
}
.best_selling .slides {
    display: grid;
    grid-template-columns: repeat(8, auto);
    gap: 30px;
    animation: best_selling_slider 24s infinite;
}
.best_selling .slides .box {
    width: 300px;
    height: 450px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--soft_gray_color);
    border-radius: 10px;
}
.best_selling .slides .box .banner {
    background-color: var(--white_default_color);
}
.best_selling .slides .box hr {
   width: 100%;
   border: 1px #E4E4E4 solid;
}
.best_selling .slides .box .banner img {
    object-fit: contain;
}
.best_selling .slides .box .add_to_carts button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 0;
    border-radius: 10px;
}
.best_selling .slides .box h4 {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5em;
}
.best_selling .slides .box p {
    font-size: 20px;
    font-weight: 500;
}
.best_selling .slides .box .add_to_carts {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.best_selling .slides_counter {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 30px;
}
@keyframes best_selling_counter3 {
    0%, 33.33% {
        background-color: var(--main_color);
    }
    33.33%, 66.66% {
        background-color: var(--mediom_gray_color);
    }
    33.33%, 100% {
        background-color: var(--mediom_gray_color);
    }
}
@keyframes best_selling_counter2 {
    0%, 33.33% {
        background-color: var(--mediom_gray_color);
    }
    33.33%, 66.66% {
        background-color: var(--main_color);
    }
    66.66%, 100% {
        background-color: var(--mediom_gray_color);
    }
}
@keyframes best_selling_counter1 {
    0%, 33.33% {
        background-color: var(--mediom_gray_color);
    }
    0%, 66.66% {
        background-color: var(--mediom_gray_color);
    }
    66.66%, 100% {
        background-color: var(--main_color);
    }
}
.best_selling .slides_counter span {
    width: 15px;
    height: 15px;
    border-radius: 10px;
    background-color: var(--mediom_gray_color);
}
.best_selling .slides_counter > :nth-child(1) {
    animation: best_selling_counter3 24s infinite;
}
.best_selling .slides_counter > :nth-child(2) {
    animation: best_selling_counter2 24s infinite;
}
.best_selling .slides_counter > :nth-child(3) {
    animation: best_selling_counter1 24s infinite;
}





