@font-face {
    font-family: "BYekan";
    src: url("../fonts/BYekan.woff2") format("woff2");
}

:root {
    --main_color: #FF510C;
    --white_default_color: #FFFFFF;
    --soft_gray_color: #FBFBFB;
    --mediom_gray_color: #A6A6A6;
    --hight_gray_color: #303030;
    --base_yellow_color: #FF8B14;
}

* {
    box-sizing: border-box;
    font-family: "BYekan";
    margin: 0;
}

body {
    background-color: var(--white_default_color);
}

.main_container {
    margin: 0 auto;
    width: 1242px;
}

.header_top {
    background-color: var(--main_color);
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_top p {
    font-size: 17px;
    font-weight: 700;
    color: var(--white_default_color);
}

.header_main {
    margin: 60px 0 60px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper-logo {
    display: flex;
    align-items: center;
}
.wrapper-logo h2 {
    margin-right: 20px;
    font-size: 30px;
    font-weight: 400;
    color: var(--main_color);
}

.wrapper-search_and_lists {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 6px;
}

.wrapper-search_and_lists .products {
    width: 140px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: var(--main_color);
    padding: 10px 25px 10px 25px;
    border-radius: 60px;
}
.wrapper-search_and_lists .products span {
    color: var(--white_default_color);
}

.wrapper-search_and_lists .search_box {
    width: 360px;
    height: 46px;
    padding: 6px;
    background-color: var(--soft_gray_color);
    overflow: hidden;
    display: flex;
    align-items: center;
    border-radius: 60px;

}
.wrapper-search_and_lists .search_box input {
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    height: 100%;
    color: var(--hight_gray_color);
    font-family: "BYekan";
    font-size: 20px;
    font-weight: 400;
}
.wrapper-search_and_lists .search_box input::placeholder{
    color: var(--hight_gray_color);
}
.wrapper-search_and_lists .search_box button{
    border: none;
    outline: none;
    background-color: transparent;
}
.wrapper-buttons{
    display: flex;
}
.wrapper-buttons :where(.carts,.wishlist) {
    position: relative;
}
.wrapper-buttons span {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
    left: 28px;
    top: 0px;
    background-color: var(--main_color);
    border-radius: 10px;
    color: var(--white_default_color);
}

.header_menu {
    margin: 60px 0 120px 0;
    display: grid;
    grid-template-columns: repeat(7, auto);
    list-style-type: none;
    justify-content: space-evenly;
    border-radius: 17px;
    padding: 18px 0 18px 0;
    background-color: var(--soft_gray_color);
}
.menu_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}
.menu_item svg path{
    fill: var(--hight_gray_color);
    transition: fill 250ms;
}
.menu_item:hover svg path{
    fill:var(--main_color)
}
.menu_item:hover span{
    color:var(--main_color);
    transition: fill 250ms;
}

.header_banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.header_banner .title {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header_banner .title p{
    font-weight: 500;
}
.header_banner .title button{
    margin: 30px 0 30px 0;
    width: 142px;
    height: 36px;
    z-index: 5;
    border: none;
    border-radius: 9px;
    background-color: var(--main_color);
    color: var(--white_default_color);
    font-weight: 500;
    font-size: 17px;
    box-shadow: 0 0 7px 0px var(--main_color);
}


@keyframes slide {
    0%, 33.33% {
        transform: translateX(800px);
    }
    33.33%, 66.66% {
        transform: translateX(0px);
    }
    66.66%, 100% {
        transform: translateX(-800px);
    }
}
@keyframes changes_slide3 {
    0%, 33.33% {
        transform: scale(1.2);
        opacity: 1;
    }
    33.33%, 66.66% {
        transform: scale(0.9);
        opacity: 0.4;
    }
    33.33%, 100% {
        transform: scale(0.9);
        opacity: 0.4;
    }
}
@keyframes changes_slide2 {
    0%, 33.33% {
        transform: scale(0.9);
        opacity: 0.4;
    }
    33.33%, 66.66% {
        transform: scale(1.2);
        opacity: 1;
    }
    66.66%, 100% {
        transform: scale(0.9);
        opacity: 0.4;
    }
}
@keyframes changes_slide1 {
    0%, 33.33% {
        transform: scale(0.9);
        opacity: 0.4;
    }
    0%, 66.66% {
        transform: scale(0.9);
        opacity: 0.4;
    }
    66.66%, 100% {
        transform: scale(1.2);
        opacity: 1;
    }
}
.header_banner .images {
    display: grid;
    grid-template-columns: repeat(3, auto);
    animation: slide 9s infinite;
}
.header_banner .images div {
    width: 800px;
}
.header_banner .images img {
    object-fit: cover;
    width: 100%;
}
.header_banner .images > :nth-child(3) {
    animation: changes_slide3 9s infinite;
}
.header_banner .images > :nth-child(2) {
    animation: changes_slide2 9s infinite;
}
.header_banner .images > :nth-child(1) {
    animation: changes_slide1 9s infinite;
}


@keyframes changes_image_counter3 {
    0%, 33.33% {
        background-color: var(--main_color);
    }
    33.33%, 66.66% {
        background-color: var(--mediom_gray_color);
    }
    33.33%, 100% {
        background-color: var(--mediom_gray_color);
    }
}
@keyframes changes_image_counter2 {
    0%, 33.33% {
        background-color: var(--mediom_gray_color);
    }
    33.33%, 66.66% {
        background-color: var(--main_color);
    }
    66.66%, 100% {
        background-color: var(--mediom_gray_color);
    }
}
@keyframes changes_image_counter1 {
    0%, 33.33% {
        background-color: var(--mediom_gray_color);
    }
    0%, 66.66% {
        background-color: var(--mediom_gray_color);
    }
    66.66%, 100% {
        background-color: var(--main_color);
    }
}
.header_banner .image_counter {
    margin-top: 30px;
    display: flex;
    gap: 4px;
}
.header_banner .image_counter span{
    width: 15px;
    height: 15px;
    border-radius: 10px;
    background-color: var(--mediom_gray_color);
}
.header_banner .image_counter > :nth-child(3) {
    animation: changes_image_counter3 9s infinite;
}
.header_banner .image_counter > :nth-child(2) {
    animation: changes_image_counter2 9s infinite;
}
.header_banner .image_counter > :nth-child(1) {
    animation: changes_image_counter1 9s infinite;
}




